* {
    direction: rtl !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none; 
}
h5 {
    font-size: 1.65rem;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4{
    margin-bottom: 2.5rem;
}
strong{
    color:#ee2226;
    font-size:18px;
}
strong>span{
    color:#606060;
    font-size:11px;
}
p {
    font-size: 14px;
    color:#000;
    line-height: 1.75;
}
p>span{
    color:#000;
}
  
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

.btn-xl {
  padding: 10px 40px;
  margin: 20px;
  border-color: transparent;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #e32224;
  transition: border-radius 0.2s ease-in-out; 
  background-color: #ffffff;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  border-radius: 10px;
  background-color: #ffffff;
  color: #e32224;
    transition: border-radius 0.5s ease-in-out; 
    box-shadow:1px 1px 10px grey;
} 
 
header {
    position: relative;
    text-align: center;
    color: #fff;
    background-attachment: scroll;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;

}


header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;

    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

section {
    padding: 75px 0;
}
.footer{
    padding: 60px 0 20px;
}
footer {
    padding: 20px 0;
position: relative;
    color: #fff;
    background-color: #1a2d39;
    background-image: url(../img/shape-4.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.footer-svg{
  position: absolute;
  top:0px;
  width: 100%;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}
h2 {
    font-size: 3rem;
    margin: 10px 0px 40px;
}
.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand img {
    width: 180px;
}

.navbar-nav>li {
    float: right;
}

nav {
    height: 65px;
    width: 100%;
    background: #00000047;
    position: fixed;
    z-index: 99999;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

.logo { 
        width: 150px;
        height: auto;
        padding: 5px 0px;
}

.navlinks {
    float: right;
    margin-right: 20px;
}

.navlinks li {
    display: inline-block;
    margin: 0 5px;
}

.navlinks li a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

.navlinks a.active,
.navlinks a:hover {
    background: #e74c3c;
}

.checkbtn {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
.m-x2{
    margin:3.5rem auto;
}



#contact-us{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items:center;
    
  }

  #contact-us h2{
    text-align: center;
    color: #fff;
  }
  .svg-video{
    position: absolute;
    width: 100%;
    bottom: -10%;
    height: fit-content;
  }
  
  #contact-us .container{
    z-index: 1000;
    position:relative;
    width: 100%;
    max-width: 1000px;
    padding: 20px 50px;
    background: red;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    overflow-x: hidden;
    backdrop-filter: blur(25px);
  }
  
  #contact-us .container:before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left:-40%;
    z-index:-1;
    transform:skewX(-15deg);
  }
  
  
  #contact-us .col{
    position: relative;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 20px;
    text-align: center;
  }
  
  .inputbox{
    position: relative;
    width: 100%;
    height: 40px;
    color:#fff;
  }
  
  .inputbox input,
  .inputbox textarea{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    resize: none;
    right:0px;
  }
  
  
  
  
  #contact-us .text{
    position:absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    transition: .3s;
  }
  
  .inputbox input:focus + .text,
  .inputbox textarea:focus + .text{
    top: -35px;
    right: -10px;
  }
  
  .inputbox input:valid + .text,
  .inputbox textarea:valid + .text{
    top: -35px;
    right: -10px;
  }
  
  .line{
    position:absolute;
    bottom:0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: .3s;
  }
  
  .inputbox input:focus ~ .line,
  .inputbox textarea:focus ~ .line{
    height: 100%;
  }
  
  .inputbox input:valid ~ .line,
  .inputbox textarea:valid ~ .line{
    height: 100%;
  }
  
  .textarea{
    position: relative;
    width: 100%;
    height:100px ;
  }
  
  
  .textarea .text{
    padding: 0 10px;
  }
  
  .textarea textarea{
    padding: 10px;
  }
  
  .col input[type="submit"]{
    background-color: #fff;
    padding: 15px 25px;
    outline: none;
    font-size: 15px;
    width: 150px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: border-radius  0.5s ease-in-out ,box-shadow 0.5s ease-in-out ;
  }
  
  .col input[type="submit"]:hover{ 
    border-radius: 15px; 
    box-shadow:0 5px 10px rgb(211, 211, 211);
  }